/* ===== general style===== */
body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #434455;
}

a,
li {
  text-decoration: none;
  list-style-type: none;
  color: inherit;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding: 120px 0;
}

/* ===== /general style===== */

/* ===== header style===== */

.head-nav-list,
.link-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.logo-head {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  /* flexbox */
  margin-right: 76px;
}

.black {
  color: #2e2f42;
}

.list-addres,
.link {
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #434455;
}

.addres {
  font-style: normal;
}

.head-nav-list :hover,
.head-nav-list :focus,
.list-addres :hover,
.list-addres :focus,
.link-nav.current {
  color: #404bbf;
}

.main-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.flex-box {
  display: flex;
  align-items: center;
}

.head-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.head-nav-list {
  display: flex;
  gap: 40px;
}

.link-nav {
  display: block;
  padding: 24px 0;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-nav.current {
  position: relative;
}

.link-nav.current::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: -1px;

  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color: #404bbf;
}

.list-addres {
  display: flex;
  gap: 40px;
  align-items: center;
}

.contact-link {
  display: block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ===== /header style===== */

/* ===== section hero===== */

.section:nth-of-type(1) {
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg-img/bg-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: padding-box;
  background-position: center;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}

.main-title {
  line-height: 1.07;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  /* flexbox */
  max-width: 496px;
  margin: 0 auto 45px;
}

.button {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  /* flexbox */
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

/* ===== /section hero===== */

/* ===== section fact===== */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-fact {
  display: flex;
  gap: 24px;
}

.item-fact {
  width: calc((100% - 72px) / 4);
}

.box-icon {
  background: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.name-fact {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  /* flexbox */
  margin-bottom: 8px;
}

.fact {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ===== /section fact===== */

/* ===== section team===== */

.section:nth-of-type(3) {
  background-color: #f4f4fd;
}

.title-team {
  text-transform: capitalize;
  line-height: 1.11;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  /* flexbox */
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
}

.list-team {
  display: flex;
  gap: 24px;
}

.item-team {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  background-color: #fff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.text-box-team {
  padding: 32px 0;
}

.name-team {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  /* flexbox */
  text-align: center;
  margin-bottom: 8px;
}

.name-team-fact {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
  /* flexbox */
  text-align: center;
}
.social-list-team {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-right: auto;
  margin-left: auto;

  width: 232px;
  height: 40px;
}

.social-team-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  line-height: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-team-link:hover,
.social-team-link:focus {
  background-color: #404bbf;
}

.social-icon {
  fill: #f4f4fd;
}

/* ===== /section team===== */

/* ===== section portfolio===== */

.title-portfolio {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  /* flexbox */
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
}

.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.item-portfoilo {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-portfoilo:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.wrapper-img {
  position: relative;
  overflow: hidden;
}

.item-portfoilo:hover .overlay {
  transform: translateY(0%);
}

.overlay {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-box-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.name-portfoilo {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.name-portfoilo-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ===== /section portfolio===== */

/* ===== footer section===== */

.logo-footer {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  /* flexbox */
  display: inline-block;
  margin-bottom: 16px;
}

.white {
  color: #f4f4fd;
}

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.flex-box-footr {
  display: flex;
  align-items: baseline;
}

.foort-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 80px;
  width: 208px;
}

.wrapper-logo {
  display: flex;
  flex-direction: column;
  margin-right: 120px;
}

.social-list-footr {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-right: auto;
  margin-left: auto;

  width: 232px;
  height: 40px;
}

.social-footr-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  line-height: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footr-link:hover,
.social-footr-link:focus {
  background-color: #31d0aa;
}

.wrapper-form {
  display: flex;
  flex-direction: column;
  width: 453px;
  height: 80px;
}

.form-text {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-form {
  display: flex;
  gap: 24px;
}

.footer-form-inpt {
  color: #ffffff;
  border: 1px solid #fff;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  width: 264px;
  height: 40px;
  background-color: transparent;
  padding-left: 16px;
  transform: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-inpt::placeholder {
  color: #fff;
}

.footer-form-inpt:hover,
.footer-form-inpt:focus {
  border-color: #4d5ae5;
}

.footer-form::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}

.footer-btn {
  background-color: #4d5ae5;
  color: #ffff;
  fill: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn:hover,
.footer-btn:focus {
  background-color: #404bbf;
}

.footer-btn-icon {
  margin-left: 16px;
}
/* ===== /footer section===== */

/* ===== modal window===== */

.modal-backdrop {
  position: fixed;
  z-index: 999999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-backdrop.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: unset;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  height: 80%;
  min-height: 584px;
  overflow: auto;
  padding: 72px 24px 24px 24px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.box-form-wrapper {
  margin-bottom: 8px;
}

.label-form {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.wrapp-input {
  position: relative;
}

.form {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form:focus {
  border-color: #4d5ae5;
}

.icon-form {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form:focus + .icon-form {
  fill: #4d5ae5;
}

.box-form-coment-wrapper {
  margin-bottom: 16px;
}

.form-coment {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border: 1px solid rgba(46, 47, 66, 0.4);
  color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-coment::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.form-coment:focus {
  border-color: #4d5ae5;
}

.box-privacy-policy {
  margin-bottom: 24px;
}

.label-checkbox {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.castom-checkbox {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
  cursor: pointer;
}

.main-checkbox:checked + .label-checkbox > .castom-checkbox {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.main-checkbox:focus + .label-checkbox > .castom-checkbox {
  border-color: #4d5ae5;
}

.link-privacy-policy {
  text-decoration: underline;
  color: #4d5ae5;
}

.submit-btn {
  display: block;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  background-color: #4d5ae5;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: #404bbf;
}

/* ===== /modal window===== */
